<div class="container section">
   {% for product in collections['all'].products %}
      <div>{{ product.title }}</div>
   {% endfor %}
</div>

{% schema %}
{ "name": "Announcement Bar", "settings": [], "presets": [{"name": "Announcement Bar"}] }
{% endschema %}
