<header class="site-header">
  <div class="container header-wrapper">
    <div class="header-left">
      <button style="background:none; border:none; color:white; font-family:'Outfit'; cursor:pointer;">
        <i class="fa-solid fa-bars"></i> MENU
      </button>
    </div>
    <div class="header-center">
      <a href="/" class="logo">HERMANN</a>
    </div>
    <div class="header-right">
      <a href="/cart" style="color:white;"><i class="fa-solid fa-bag-shopping"></i></a>
    </div>
  </div>
</header>

{% schema %}
{ "name": "Header", "settings": [] }
{% endschema %}
